<div class="row">
	<div class="col s10">
		<input type="text" placeholder="How are you feeling?">
	</div>
	<div style="padding-top:15px;" class="col s2">
		<div class="icons right">
			<i class="material-icons delete">delete</i>
			<i class="material-icons add">add_circle</i>
		</div>
	</div>
</div>