<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h1 style="padding-top: 50px;">Please contact me at</h1>
			<p class="flow-text"> placeholder@gmail.com</p>
		</div>
	</div>
</div>