<div class="container">
<div class="row">
    <div class="col s8 offset-s2 center-align">
      <h1 style="padding-top: 50px;">Pop bad feelings.</h1>
      <p class="flow-text"> 
          Did you have a tough day? Are you feeling sad, stressed, or mad about something?
       </p>
        <p class="flow-text"> 
          All you have to do is type what you're feeling: "I want to give up", "I don't want to go school", "I hate myself". Then just pop away until you feel better or you get bored.
       </p>
    </div>
	<div class="row">
		<div class="col s8 offset-s2 center-align">
			<h1>Free from judgment.</h1>
			<p class="flow-text"> 
        No one will ever see what you type here. Theres no one here to tell you how you should feel, its just you and your computer screen. Everything here is private and anonymous.
       </p>
		</div>
	</div>
    <div class="row">
    <div class="col s8 offset-s2 center-align">
      <h1>You're not alone.</h1>
      <p class="flow-text">
        Have a look in the top right corner of your screen and you'll see that other people are feeling bad just like you. I just want you to know you're not alone in your suffering. Please find someone to talk to help you feel better.
      </p>
    </div>
  </div>
</div>