/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.fixed-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.fixed-top-right {
  position: fixed;
  top: 10px;
  right: 10px;
}

.add {
	color:green;
	cursor: pointer; 
	cursor: hand;
}

.delete {
	color:red;
	cursor: pointer; 
	cursor: hand;
}

svg g {
	cursor: pointer; 
	cursor: hand;
	z-index: 9999;
}

/* for some reason this helps with window size calculation*/
svg {
	display:block;
}

nav {
	box-shadow: none;
	background-color: transparent;
}

nav .nav-wrapper i {
	color: #000;
}

#right-links a {
	color: #000;
}
