/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

/* MODAL FORMATTING */

.modal, .modal .modal-footer {
	background-color: #34495e;
}

.modal a {
	background-color: #ecf0f1;
	color: #34495e;
}
.modal a:hover {
	background-color: #bdc3c7;
	color: #34495e;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #ecf0f1;
    box-shadow: 0 1px 0 0 #ecf0f1;
}

input[type=text], input[type=password], 
input[type=email], input[type=url], 
input[type=time], input[type=date], 
input[type=datetime-local], input[type=tel], 
input[type=number], input[type=search], textarea.materialize-textarea {
	border-bottom: 1px solid #ecf0f1;
}

.add {
	color:#ecf0f1;
	cursor: pointer; 
	cursor: hand;
}

.delete {
	color:#ecf0f1;
	cursor: pointer; 
	cursor: hand;
}

/* NAV FORMATTING */

nav {
	box-shadow: none;
	background-color: transparent;
}

nav .nav-wrapper a {
	color: #ecf0f1;
}

nav a.button-collapse {
	display: block;
	margin-left:15px;
}

/* SIDE NAV FORMATTING */

.side-nav li:hover, .side-nav li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

/* WELCOME MESSAGE FORMATTING */

#welcome {
	margin-top:50px;
}

#welcome a {
	height:100px;
	width:100px;
	margin-top:20px;
	background-color: #ecf0f1;
}

#welcome i {
	line-height:100px;
	font-size: 3rem;
	color:#34495e;
}

/* MAKING SURE CANVAS LOOKS RIGHT, DOESN'T MAKE SCROLL BAR APPEAR */

canvas[resize] {
    width: 100%;
    height: 100%;
}

canvas {
	display: block;
}
/* OVERALL COLOR SCHEME */

html {
	color: #ecf0f1;
	background-color: #34495e;

}

body, .side-nav {
	background-color: #34495e;
}

a:hover {
	cursor: pointer; 
	cursor: hand;
}
