<div class="container">
	<div class="slider">
		<ul class="slides">
			<% @stats.each do |stat| %>
				<li>
					<!-- Slider doesn't work unless there is an image -->
					<img src="">
					<div class="caption center-align">
						<h1><%= stat[:text] %></h1>
						<p class="flow-text"><%= number_with_delimiter(stat[:s_count], delimiter: ',') %> people have spent <%= stat[:s_time] %> popping their bad feelings. Together we popped <%= number_with_delimiter(stat[:f_count], delimiter: ',') %> feelings.</p>
						<p class="flow-text"> </p>
						<% if stat[:s_count] > 1 && stat[:f_count] > 1 %>
							<h4> You're not alone. </h4>
						<% end %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<script>

	$(document).ready(function(){
      $('.slider').slider({interval: 15000, transition: 1000});
    });
        
</script>